<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

 <bean id="p1" class="com.example.demo.PersonImpl">
	 <property name="id" value="101"/>
	 <property name="name" value="Ajay"/>
	 <property name="age" value="23"/>
 </bean>
 
 <bean id="a1" class="com.example.demo.AccountImpl">
 <property name="id" value="1010"/>
 <property name="type" value="saving"/>
 <property name="balance" value="20000.00"/>
 <property name="accHolder" ref="p1"/>
 </bean>
 
  <bean id="a2" class="com.example.demo.AccountImpl">
 <constructor-arg index="0" value="2020"/>
 <constructor-arg index="1" value="current"/>
 <constructor-arg index="2" value="400000.00"/>
 <constructor-arg index="3" ref="p1"/>
 </bean>

</beans>
